.pokemon_gusser {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../res/648132.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
}

.buttons_container {
    height: 50px;
}

.return_button {
    width: 75px;
    color: var(--clr-light);
    padding: 10px 15px;
    border-radius: 10px;
    background: rgba(105, 105, 105, 0.45);
    transition: all 0.3s;

}

.return_button:hover {
    background: rgba(105, 105, 105, 0.6);
    transition: all 0.3s;
}

.refresh_button {
    width: 75px;
    color: var(--clr-light);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    height: 25px;
    background: rgba(105, 105, 105, 0.45);
    transition: all 0.3s;
}

.refresh_button:hover {
    background: rgba(105, 105, 105, 0.6);
    transition: all 0.3s;
}

#result {
    position: absolute;
    width: 100%;
    max-width: 870px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    z-index: 1001;
}

.list-group-item:hover {
    background-color: darkgrey;
    transition: 0.2s;
}

.pokemon_details {
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 885px;
    max-height: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;
}

.pokemon_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 170px;
    border-radius: 15px;
    background: var(--clr-wrong);
}

@media screen and (max-width: 991px) {
    .pokemon_cards {
        width: 135px;
        height: 135px;
    }
}

@media screen and (max-width: 768px) {
    .pokemon_cards {
        width: 115px;
        height: 115px;
    }

    .pokemon_details {
        gap: 5px;
    }
}

.pokemon_cards p {
    color: var(--clr-light);
    font-weight: 700;
    font-size: 1.25rem;
}

.pokemon_cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    padding: 10px;
    background: var(--clr-light);
}

.match {
    background: rgb(70, 230, 31);
}

.phomepage_cards--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.phomepage_card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    background: rgba(25, 25, 25, 0.85);
    gap: 15px;
    border-radius: 15px;
    height: 400px;
    width: 400px;
    transition: all 0.3s;
}

.phomepage_card--img {
    height: 250px;
    width: 250px;
    margin-top: 20px;
}

.phomepage_card--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.phomepage_card--img #wtp {
    filter: brightness(0%);
}

.phomepage_cards--wrapper a {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid rgba(25, 25, 25, 0.85);
    ;
    transition: all 0.3s;
}

.phomepage_cards--wrapper a:hover {
    border: 2px solid var(--clr-light);
    transition: all 0.3s;
}

.phomepage_card h2 {
    color: var(--clr-light);
    font-weight: 700;
    font-size: 1.8rem;
}

.phomepage_card p {
    color: var(--clr-grey);
    font-weight: 500;
    font-size: 0.9rem;
}