@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Styles */
:root {
  /* Colors */
  --clr-dark: #070707;
  --clr-dark-grey: #171717;
  --clr-light: #f0f0f0;
  --clr-grey: #d1d5db;
  --clr-pokemon-yellow: #ffcb05;
  --clr-pokemon-blue: #2a75bb;
  --clr-lighter-dark-grey: #1e232b;
  --clr-main: #ee1515;
  --clr-dark-red: #bb1111;
  --text-gradient: linear-gradient(180deg, #ffffff, #adadad);

  /* Sizes */
  --size-xxs: 0.65rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

::selection {
  background: var(--clr-main);
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  min-height: 100dvh;
  font-family: "Inter", sans-serif;
}

.homepage {
  background: var(--clr-dark-grey);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: 78dvh;
  text-align: center;
}

main h1 {
  color: var(--clr-light);
  font-size: 3rem;
  margin-bottom: 25px;
}

.section {
  margin-top: 5rem;
}

.card_container {
  max-width: 1536px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 15px;
  background: var(--clr-light);
  height: 300px;
}

footer {
  display: grid;
  width: 100%;
  text-align: center;
  gap: 5px;
}

footer a {
  color: var(--clr-light);
}

footer p {
  color: var(--clr-light);
}

#preloader{
  background: #fff url(../res/giphy.gif) no-repeat center center;
  background-size: 15%;
  height: 100dvh;
  width: 100%;
  position: fixed;
  z-index: 1001;
}